.suo-table > tbody > tr > td {
    vertical-align: middle;
}

.suo-header {
    font-size: 3em;
}

.suo-current-check {
    font-size: 10em;
    font-weight: bolder;
}

.suo-next-check {
    font-size: 8em;
}
