body {
    background-color:#0f5f5f;
    color:/*black*/white;
}

.suo-table > tbody > tr > td {
    vertical-align: middle;
}

.suo-table > tbody > tr > th {
    vertical-align: middle;
}

.suo-header {
    text-align: center;
    font-size: 3em;
}

.suo-current-check {
    font-size: 8em;
    font-weight: bolder;
}

.suo-next-check {
    font-size: 7em;
}

.suo-current-check-with-window {
    font-size: 0.3em;
    text-align: left;
}

.suo-current-check-with-window-check {
    font-size: 2.5em;
    margin-left: 3em;
}