.no-close .ui-dialog-titlebar {
  display: none;
}

.suo-reception-table > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
}

.suo-reception-table > thead > tr > td {
    vertical-align: middle;
    text-align: center;
}

.suo-reception-button {
    background: linear-gradient(to top,  #ffd2c0,  #fd773e);
    border:0 solid;
    border-radius: 0.3em;
    font-weight: bold;
}

.suo-reception-button-disabled {
    background: linear-gradient(to top,  #ffd2c0,  #ffd2c0);
    color: gray;
}

.suo-dialog-button-close {
    height: 2em;
    width: 9em;
    background: linear-gradient(to top,  #ffd2c0,  #fd773e);
    border:0 solid;
    border-radius: 0.3em;
    font-weight: bold;
}

.suo-reception-record-button {
    height: 2em;
    background: linear-gradient(to top,  #ffd2c0,  #fd773e);
    border:0 solid;
    border-radius: 0.3em;
}

.suo-reception-record-button-disabled {
    background: linear-gradient(to top,  #ffd2c0,  #ffd2c0);
    color: gray;
}

.suo-reception-record-button-on-middle {
    padding-top: 0.3em;
}

