.suo-terminal-button {
    font-size: 2em;
    height: 6em;
    width: 30em;
    background: linear-gradient(to top,  #ffd2c0,  #fd773e);
    border:0 solid;
    border-radius: 1em;
}

.no-close .ui-dialog-titlebar {
  display: none;
}

.suo-table > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
}

.suo-check {
    text-align: center;
}

#suo-check-number {
    font-size:3em;
}
#suo-check-get-time {
    font-size:0.7em;
}
