.suo-terminal-button {
    font-size: 2em;
    font-weight: bold;
    height: 6em;
    width: 30em;
    background: linear-gradient(to top,  #ffd2c0,  #fd773e);
    border:0 solid;
    border-radius: 1em;
}

.suo-terminal-record-button {
    font-size: 2em;
    height: 3em;
    background: linear-gradient(to top,  #ffd2c0,  #fd773e);
    border:0 solid;
    border-radius: 0.3em;
}

.suo-terminal-record-button-disabled {
    background: linear-gradient(to top,  #ffd2c0,  #ffd2c0);
    color: gray;
}

.suo-terminal-record-button-on-middle {
    padding-top: 0.7em;
}

.suo-terminal-record-button-record-count {
    font-size: 0.6em;
}

.no-close .ui-dialog-titlebar {
  display: none;
}

.suo-table > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
}

.suo-check {
    text-align: center;
}

#suo-check-number {
    font-size:4em;
}

#suo-check-title {
    font-size:1.5em;
}

#suo-check-get-time {
    font-size:0.7em;
}
